@import url("megabar-tweaks.css") screen;

/* Customize timeout of notifications 
   https://redd.it/42zgqi */
@-moz-document url("chrome://global/content/alerts/alert.xul") {
    #alertBox[animate] {
        animation-duration: 4s !important;
    }
}

/* Hide urlbar history dropmarker */
.urlbar-history-dropmarker {
    display: none !important;
}

/* Show close button on every tab */
.tab-close-button:not([pinned]),.tab-close-button:not([pinned]) > .toolbarbutton-icon {
   display: -moz-box !important;
}

/* Overflow button downwards */
#nav-bar-overflow-button { transform: rotate(90deg) !important; }

/* Hide Giant Thumbnail and Favicon */
*|div#editBookmarkPanelInfoArea {
  display: none !important;
}
