@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Customize timeout of notifications 
   https://redd.it/42zgqi */
@-moz-document url("chrome://global/content/alerts/alert.xul") {
    #alertBox[animate] {
        animation-duration: 4s !important;
    }
}

/* Hide urlbar history dropmarker */
.urlbar-history-dropmarker {
    display: none !important;
}

/* Hide plugin bar */
notification[value="plugin-hidden"] {
  display: none !important;
}
notification[value="plugin-hidden"].pluginVulnerable {
  display: inherit !important;
}

/* Show close button on every tab */
.tab-close-button:not([pinned]),.tab-close-button:not([pinned]) > .toolbarbutton-icon {
   display: -moz-box !important;
}

/* Overflow button downwards */
#nav-bar-overflow-button { transform: rotate(90deg) !important; }

/* Hide Giant Thumbnail and Favicon */
#editBookmarkPanelImage, #editBookmarkPanelFaviconContainer, *|div#editBookmarkPanelFaviconContainer {
  display: none !important;
}